h1 {
  color: red;
  border: 3px solid black;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

td {
  border-bottom: 2px solid lightgray;
  padding: 10px;
}

.search {
  margin: 40px 5px 5px 5px;
}
